// styles/Header.scss

.header-container {
    .navbar {
        display: flex;
        justify-content: flex-end; // Align menu to the right
        background-color: #343a40; // Dark background color
        padding: 1rem;
        position: relative;

        .menu-links {
            display: flex;
            align-items: center; // Align menu links vertically
            justify-content: flex-end; // Align menu links to the right

            ul {
                list-style: none;
                display: flex;
                margin: 0; // Remove default margin

                li {
                    margin-left: 1rem;

                    a {
                        text-decoration: none;
                        color: #fff; // White text color
                        transition: color 0.3s ease;

                        &:hover {
                            color: #17a2b8; // Color on hover
                        }
                    }
                }
            }
        }

        .menu-links ul {
            flex-direction: row; // Ensure the menu links are displayed horizontally
        }
    }
}