// styles/Header.scss

.header-container {
    .navbar {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        position: relative;

        .menu-links {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            ul {
                list-style: none;
                display: flex;
                margin: 0;

                li {
                    margin-left: 1rem;

                    a {
                        text-decoration: none;
                        color: #fff;
                        transition: color 0.3s ease;

                        &:hover {
                            color: #17a2b8;
                        }
                    }
                }
            }
        }

        .menu-links ul {
            flex-direction: row;
        }
    }
}