.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 2rem;
    gap: 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
}

.form-button {
    width: fit-content;
    background-color: #0DCAF0;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: .5s ease-in-out;
    border-radius: 8px;
    box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), inset 0 -2px 6px 0 rgba(10, 37, 64, .35);
}

.form-button:hover {
    background-color: #038099;
    transition: .5s ease-in-out;
}

.location-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #0DCAF0;
    margin-top: 10px;
}

.location-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
}

// Media query for responsiveness
@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        padding: 1rem;
    }

    .form-container {
        width: 100%;
    }
}